:root {
  --dark-green: rgb(19, 105, 60);
  --green: rgb(67, 149, 57);
  --light-green: rgb(220, 229, 224);
  --blue: rgb(17, 110, 247);
  --red: rgb(255, 0, 0);
  --black: rgb(0, 0, 0);
  --neutral-600: rgb(164, 164, 164);
  --neutral-200: rgb(241, 241, 241);
  --white: rgb(255, 255, 255);
}
