@use "../util" as *;
@use "../globals/fonts" as *;

:root {
  font-family: $ff-fb;
  font-size: rem(16);
  font-weight: $fw-l;
}

h1,
h2,
h3 {
  margin-top: 0;
  line-height: 1.1;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

h1 {
  font-size: rem(20);
  font-weight: $fw-b;
}
h2 {
  font-size: rem(18);
  font-weight: $fw-n;
}
input {
  font-size: rem(18);
  font-weight: $fw-l;
}
